* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(33, 183, 206);
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.wrapper {
  width: 35vw;
  display: flex;
  flex-wrap: wrap;
}
.wrapper > div {
  padding: 1rem;
  margin: 0.2rem;
  width: 3.5rem;
  height: 1.5rem;
  font-size: 2rem;
  font-weight: 900;
  color: rgb(42, 10, 10);
  text-align: center;
}
